/* file structure:

- rules

- selectors
    - tags
    - classes */

/* ---------- rules ---------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ---------- selectors ---------- */

.c-next-step,
.c-return-home {
    width: 220px;
    height: 44px;
    margin-bottom: 8px;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff5f4;
}

.c-next-step {
    background-color: #ec362d;
}

.c-return-home {
    background: none;
    color: #818181;
}

/* Homepage */

.c-quizzes-list__item h2,
.lista-quizz__item h2 {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    word-wrap: break-word;

    position: absolute;
    z-index: 1;
    left: 18px;
    bottom: 14px;
    width: 304px;
}

/* Quizzpage */

.c-quizzpage__header {
    width: 100%;
}

.c-quizzpage__header h2 {
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    left: 33px;
}

.c-question__answer p {
    width: 43.4667vw;
    max-width: 329.91px;
    word-wrap: break-word;
}

.c-quizzpage__result img {
    width: 100%;
    margin: 9px 0;
}

.c-quizzpage__result p {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #484848;
    word-wrap: break-word;
}

/* ---------- tags ---------- */

body {
    font-family: "Roboto", sans-serif;
}

/* Header */

h1 {
    font-weight: 700;
    font-size: 37px;
    color: #fff;
    cursor: pointer;
}

/* ---------- box-sizing best practices ---------- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ---------- hiding arrows from input number ---------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

main {
    min-height: calc(100vh - 69px);
}

/* ---------- classes ---------- */

/* Header */

.main-header {
    background-color: #ec362d;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

/* Loading */

.c-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 69px;
    height: calc(100vh - 69px);
    background-color: #fafafa;
}

.c-loading img {
    width: 76px;
    height: 76px;
    margin-bottom: 24px;
}

.c-loading p {
    font-size: 25px;
    line-height: 29px;
    color: #ec362d;
}

/* Homepage */

.c-homepage,
.c-create-quizz {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}

.create-quizz {
    background-color: #fafafa;
    border: #d4d4d4 dashed 2px;
    border-radius: 4px;
    margin: 50px 0px;
    height: 181px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 761px) {
    .create-quizz {
        width: 695px;
    }
}

@media (min-width: 1116px) {
    .create-quizz {
        width: 1051px;
    }
}

.create-quizz span {
    color: #b9b9b9;
    font-size: 20px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.create-quizz__button {
    background-color: #fafafa;
    width: 151px;
    height: 40px;
    border: #ec362d dashed 1px;
    border-radius: 50px;
    font-size: 21px;
    color: #ec362d;
    cursor: pointer;
}

.c-homepage__content,
.c-homepage__your-quizzes {
    margin-left: calc(15px + 18px);
    margin-right: 18px;
    display: flex;
    justify-content: center;
}

.c-all-quizzes,
.your-quizzes__content {
    margin: 35px auto 0;
    max-width: 355px;
}

.c-all-quizzes__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    margin-bottom: 14px;
}

.c-quizzes-list,
.lista-quizz {
    display: flex;
    flex-wrap: wrap;
}

.lista-quizz {
    display: flex;
    margin-top: 20px;
}

.your-quizzes__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.your-quizzes__title ion-icon {
    font-size: 31px;
    margin-right: 15px;
    color: #ec362d;
    cursor: pointer;
}

.your-quizzes__title span {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-right: 15px;
}

.c-quizzes-list__item,
.lista-quizz__item {
    position: relative;
    margin-bottom: 12px;
    margin-right: 15px;
    cursor: pointer;
}

.c-quizzes-list__gradient,
.c-quizzes-list__item img,
.lista-quizz__item img {
    height: 181px;
    width: 340px;
    border-radius: 5px;
    object-fit: cover;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 64.58%,
        #000000 100%
    );
}

.c-quizzes-list__gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.lista-quizz__nav {
    background-color: #ec362d;
}

@media (min-width: 761px) {
    .c-all-quizzes,
    .your-quizzes__content {
        max-width: 710px;
    }

    .your-quizzes__title {
        min-width: 710px;
        justify-content: flex-start;
    }
}

@media (min-width: 1116px) {
    .c-homepage__content,
    .c-homepage__your-quizzes {
        width: 1065px;
        justify-content: flex-start;
    }

    .c-all-quizzes,
    .your-quizzes__content {
        max-width: 1065px;
        margin: 35px 0 0;
    }
}

/* Quizzpage */

.c-quizzpage {
    margin-top: 69px;
    padding-bottom: 58px;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-quizzpage__header {
    height: 142px;
    position: relative;
    margin-bottom: 24px;
}

.c-quizzpage__header__foreground,
.c-quizzpage__header img {
    object-fit: cover;
    width: 100%;
    height: 142px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.c-quizzpage__header__foreground {
    position: absolute;
    top: 0px;
    left: 0;
}

.c-question,
.c-quizzpage__result {
    background-color: #fff;
    padding: 4.8%;
    width: 100%;
    max-width: 759px;
}

.c-question {
    margin: 0 auto 28px;
}

.c-quizzpage__result {
    margin: 0 auto 34px;
}

.c-quizzpage__title,
.c-question__options {
    margin: auto;
}

.c-quizzpage__title {
    background-color: #ec362d;
    height: 89px;
    padding: 15px;
}

.c-quizzpage__title h3 {
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
}

.c-question__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-question__answer {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 12px;
    position: relative;
    cursor: pointer;
}

.c-question__answer img {
    height: 30.1333vw;
    max-height: 175.2px;
    margin-bottom: 5px;
}

.c-question__answer img,
.c-question__foreground {
    width: 43.4667vw;
    max-width: 329.91px;
}

.c-question__foreground {
    height: 100%;

    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.is-answered p {
    color: #ff0b0b;
}

.is-correct p {
    color: #009c22;
}

.is-answered .c-question__foreground {
    display: initial;
}

.is-selected .c-question__foreground {
    display: none;
}

@media (min-width: 730px) {
    .c-question,
    .c-quizzpage__result {
        padding: 35px;
    }

    .c-quizzpage__img-text {
        display: flex;
        margin-top: 18px;
    }

    .c-quizzpage__img-text img {
        width: 364px;
        margin: 0;
    }

    .c-quizzpage__img-text p {
        margin-left: 21px;
        width: 304px;
    }
}

@media (min-width: 1100px) {
    .c-next-step,
    .c-return-home {
        width: 260px;
        height: 52px;
        margin-bottom: 16px;
        font-size: 21px;
    }

    .c-quizzpage__title h3 {
        font-size: 23px;
        line-height: 27px;
    }

    .c-quizzpage__header h2 {
        font-size: 39px;
        line-height: 46px;
    }

    .c-question__answer {
        font-size: 20px;
        line-height: 23px;
        margin-top: 20px;
    }

    .c-question__answer img {
        margin-bottom: 9px;
    }

    .c-quizzpage__img-text p {
        font-size: 19px;
        line-height: 25px;
    }

    .c-quizzpage {
        padding-bottom: 69px;
    }
}

/* Create Quizz */

.c-create-quizz__content,
.c-create-questions__content,
.c-create-levels__content,
.c-create-success__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin: 37px 0;
    text-align: center;
}

.c-create-quizz .c-next-step {
    /* margin: 45px 0; */
    height: 54px;
    width: 325px;
}

.c-fields {
    display: flex;
    flex-direction: column;
    margin: 17px 0;
}

.c-fields input,
.c-fields textarea {
    margin: 5px 0;
}

.c-form-quizz {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 18px;
    text-align: start;
    width: 375px;
}

.c-form-quizz img {
    cursor: pointer;
}

.c-form-quizz input,
.c-form-quizz textarea {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-family: inherit;
    font-size: 19px;
    font-weight: 400;
    height: 46px;
    line-height: 22px;
    margin: 5px 0;
    outline: none;
}

.c-form-quizz input {
    padding: 0 10px;
}

.c-form-quizz textarea {
    height: 177px;
    padding: 10px;
}

.c-form-quizz input::placeholder,
.c-form-quizz textarea::placeholder {
    color: #bababa;
    font-style: italic;
    opacity: 1;
}

.c-form-quizz section {
    margin: 5px 0;
}

.c-level__number,
.c-question__number {
    display: flex;
    justify-content: space-between;
}

.c-create-success__content .c-next-step,
.c-create-success__content .c-return-home {
    max-width: 221px;
}

.c-success .c-quizzes-list__item {
    margin: 25px auto;
}

.c-success .c-quizzes-list__item h2 {
    margin-bottom: 10px;
    text-align: start;
}

@media (min-width: 1100px) {
    .c-create-quizz h2 {
        font-size: 23px;
    }

    .c-create-quizz .c-next-step {
        margin: 45px 0;
        width: 370px;
    }

    .c-create-quizz__content,
    .c-create-questions__content,
    .c-create-levels__content,
    .c-create-success__content {
        margin: 65px 0;
    }

    .c-create-success__content .c-next-step,
    .c-create-success__content .c-return-home {
        margin-bottom: 0;
        max-width: 221px;
    }

    .c-form-quizz {
        width: 600px;
    }

    .c-form-quizz textarea {
        padding: 10px;
    }

    .c-success {
        margin-top: 46px;
    }

    .c-success .c-quizzes-list__gradient,
    .c-success .c-quizzes-list__item img {
        height: 266px;
        width: 500px;
    }

    .c-success .c-quizzes-list__item {
        margin: 0 auto;
    }

    .c-success .c-quizzes-list__item h2 {
        width: 466px;
    }
}

/* Status */

.is-inactive {
    display: none;
}
